// Place all the styles related to the competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'jquery.bracket.sass';

.subheader {
  text-align: center;
}
.container {
  width: 95%;
}
.contact-info {
  width: 500px;
  margin: auto auto;
}
.description {
  float: right;
}

.jQBracket {
  margin-left: inherit;
  margin-right: inherit;
  float: inherit;
  .finals {
    right: -15px !important;
    bottom: 1px;
  }
}

.label {
  font-weight: normal;
  line-height: normal;
  color: black;
  text-align: left;
  overflow: inherit;
}

.right {
  max-width: 40%;
  margin-right: 200px;
  float: right;
}
