// Place all the styles related to the competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subheader {
  text-align: center;
}
.description {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.bracket {
  margin-left: auto;
  margin-right: auto;

}

.jQBracket {
  margin-left: inherit;
  margin-right: inherit;
  float: inherit;
}

.label {
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
  color: black;
  text-align: left;
  vertical-align: normal;
  border-radius: normal;
}

.right {
  max-width: 40%;
  margin-right: 200px;
  float: right;
}
