// Place all the styles related to the competitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 100%;
}
.subheader {
  text-align: center;
}
.jQBracket {
  float: left;
  margin-left: 50px;
}
.label {
  font-size: 1em;
  font-weight: normal;
  line-height: normal;
  color: black;
  text-align: left;
  vertical-align: normal;
  border-radius: normal;
}

.contact-info {
  max-width: 50%;
  margin-right: 50px;
  float: right;
}
