%section.hero.is-fullheight.is-bold.is-dark
  .hero-head
    = render 'layouts/header'
  .hero-body
    .container
      .title
        Work in progress
      .subtitle
        Kom tilbake igjen om en uke eller to for nytt design og mer informasjon.
        Billetter kjøpes @
        = link_to 'GalaxeLAN.no', 'https://galaxelan.no'
